{% load staticfiles %}

<html>
    <head>
        <title>Friend Me Meow</title>
        {% block styling %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/finder.css' %}">
        {% endblock %}

        {% block js %}
        <script src="{% static "bower_components/underscore/underscore.js" %}"></script>
        <script src="{% static 'bower_components/angular/angular.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}
    </head>

    <body ng-app="{% block ng_app %}catBrowser{% endblock %}">

		<div class="page-header">
		    <h1><a href="/">Adopt a Kitty Today</a></h1>
		</div>

		<div class="content" ng-controller="{% block ng_controller %}BrowserController{% endblock %}">
            {% block content %}
            {% endblock %}
		</div>
    </body>

</html>