{% extends 'finder/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'edit_cat' pk=kitty.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

<h1>{{kitty.name}}</h1>
<h2> {{ kitty.gender }} | {{kitty.age}} | {{ kitty.breed }}</h2>
<br>

<p> {{ kitty.about }}</p><br>
<b>half your age plus seven rule:</b><br>
       only seeking other cats {{age7}} or older<br>
<img src="{{kitty.photo.url}}" width="300" height="300"/>
<h2>
<b><u>Contact Info</b></u>
</h2>


<p>

<b> {{ kitty.location.name }} </b><br>
{{ kitty.location.phone| slice:"0:3" }}.{{ kitty.location.phone| slice:"3:6" }}.{{ kitty.location.phone| slice:"6:10" }}   | {{kitty.location.email}}

</p>
{% endblock content %}
