{% extends 'finder/base.html' %}
{% block ng_app %}catBrowser{% endblock %}
{% block ng_controller %}BrowserController{% endblock %}

{% block content %}

<h1>{{ kitty.name }}</h1>
<h2> {{ kitty.gender }} | {{kitty.age}} | {{ kitty.breed }} | {{kitty.weight}} lbs </h2>

<h3>About Me!</h3>
<p> {{kitty.about }}</p><br>

<img src="{{kitty.photo.url}}" width="300" height="300"/>
<h2>
<b><u>Contact Info</b></u>
</h2>


<p>

<b> {{ kitty.location.name }} </b><br>
{{ kitty.location.phone| slice:"0:3" }}.{{ kitty.location.phone| slice:"3:6" }}.{{ kitty.location.phone| slice:"6:10" }}   | {{kitty.location.email}}

</p>
{% endblock content %}
