{%extends 'finder/base.html' %}

{% block content %}

        <div class="stretch">
            {% for kitty in cat_list %}
            <div class="panel">
		        <h1><a href="{% url 'finder.views.cat_detail' pk=kitty.pk %}">{{ kitty.name }}</a></h1>
		        <h2> {{ kitty.gender }} | {{kitty.age}} | {{ kitty.breed }}</h2>
		        <p> <i>{{kitty.location.name}}</i> </p>
                {% if  kitty.photo %}
                <img src="{{kitty.photo.url}}" width="100" height="100"/>
                {% endif %}
            </div>
            {% endfor %}
        </div>






    <div class="pagination">
    <span class="step-links">
        {% if cat_list.has_previous %}
            <a href="?page={{ cat_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cat_list.number }} of {{ cat_list.paginator.num_pages }}
        </span>

        {% if cat_list.has_next %}
            <a href="?page={{ cat_list.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock content %}

